body 
{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-weight: 400;
    font-size: 16px; 
    line-height: 24px;
    letter-spacing: 0.02em;
}

/* reset */

a
{
    text-decoration: none; 
}

ul,
ol 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p
{
    margin: 0;
}

img 
{
    display: block;
}

/* common */

.container 
{
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/*header*/

.page-header
{
  border-bottom: 1px solid #E7E9FC;  
}

.header-container
{
    display: flex;
    align-items: center;
}

.header-nav
{
    display: flex;
    align-items: center;
}

.logo
{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.header-logo
{
    margin-right: 76px;
    padding: 24px 0;

}

.header-logo .logo-part
{
    color: #2E2F42;
}

.footer-logo
{
    margin-bottom: 16px;
}

.footer-logo .logo-part {
    color: #F4F4FD;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link
{
    display: block;
    padding: 24px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-link
{
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus
{
    color: #404BBF;
}
 
/*hero image*/

.section 
{
    padding: 120px 0;
}

.introduction-banner
{
    background: #2E2F42;
}

.introduction-banner-hero
{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.introduction-banner-button
{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:#FFFFFF;
    background: #4D5AE5;
    cursor: pointer;
}

.introduction-banner button:hover
{
    background: #404BBF;
}

.introduction-banner button:focus 
{
    background: #404BBF;
}

.section-title
{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em; 
    text-transform: capitalize;
    color: #2E2F42
}

.title
{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42
}

.text
{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.team 
{
    background-color: #F4F4FD;
}

.list-team
{
    background-color: #FFFFFF;
}

.page-footer
{
    background-color: #2E2F42;
}

.footer-slogan {
    color: #F4F4FD;
    background: #2E2F42;
    letter-spacing: 0.02em;
}